@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

/* General style for the menu layout */
.menu-layout {
    -fx-alignment: center;
}
.root {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-image:url('../sprites/background/Steampunk/red1.png')  ;
}
/* Style for menu buttons */
.menu-button {
    -fx-font-size: 30px;
    -fx-font-family: "Press Start 2P";
    -fx-background-color: lightgray;
    -fx-text-fill: #333333;
    -fx-padding: 15 40;
    -fx-border-radius: 2;
    -fx-background-radius: 5;
    -fx-border-color: #333333;
    -fx-border-width: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 3, 3);
    -fx-focus-color: transparent;
}

/* Add hover effect for buttons */
.menu-button:hover {
    -fx-background-color: #45A049;
}

/* Add pressed effect for buttons */
.menu-button:pressed {
    -fx-background-color: #388E3C;
    -fx-effect: none;
}

.game-title {
    -fx-font-size: 72px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "Press Start 2P";
}


